.nav-bar-container {
  display: flex;
  padding: 15px 40px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.5);
<<<<<<< HEAD
=======
  position: sticky;
  top: 0;
  z-index: 1000;
>>>>>>> 33a43ae9df1a396cb9765cc242317e98936a30ff
}

.nav-bar-title {
  flex: 1;
  font-weight: bold;
}

.nav-bar-option-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

<<<<<<< HEAD
a.nav-bar-option {
=======
span.nav-bar-option {
>>>>>>> 33a43ae9df1a396cb9765cc242317e98936a30ff
  cursor: pointer;
  margin: 10px 15px;
  text-decoration: none !important;
}

.authentication-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
